*.~*
*.zip
*.7z
*.lib
*.dll
*.exp
*.dcu
*.ddp
*.ddp
*.dll
*.exe
*.obj
*.tds
*.opt
*.ncb
*.suo
*.plg
*.aps
*.ddp
*.pdb
*.pdp
*.ipch
*.VC.db
*.opendb
bin
obj
Debug
Debug_Ansi
Release
Release_Ansi
Debug_Build
Release_Build
*.opensdf
*.sdf
*.user
__history
*.local
Thumbs.db
Win32
x64
My Project
*.vsidx
*.lock
*.db-shm
*.db-wal
*.bin
Project/QMake/build-MediaInfoQt-Desktop_Qt_6_6_1_MSVC2019_64bit-Release/_Automated/
Project/QMake/build-MediaInfoQt-Desktop_Qt_6_6_1_MSVC2019_64bit-Release/.qtc_clangd/
Project/QMake/build-MediaInfoQt-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/_Automated/
Project/QMake/build-MediaInfoQt-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/.qtc_clangd/
Project/QMake/build-MediaInfoQt-Desktop_Qt_5_15_2_MSVC2019_64bit-Profile/.qtc_clangd/
Project/QMake/build-MediaInfoQt-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/.qtc_clangd/
Project/BCB/PreRelease/
Project/BCB/GUI/__astcache/
Project/QMake/build*/
